<%= render 'form', task: @task %>

<%#= form_for(@task) do |f| %>
  <%#= f.label :title %>
  <%#= f.text_field :title %>

  <%#= f.label :details %>
  <%#= f.text_field :details %>

  <%#= f.label :completed %>
  <%#= f.text_field :completed %>

  <%#= f.submit %>
<%# end %>

  <p><%= link_to "add a new task", tasks_new_path(@task)%></p>
  <p><%= link_to "see list of tasks", tasks_path(@task)%></p>

