<% @tasks.each do |task| %>
  <h2><%= link_to(task.title, task_path(task)) %></h2>
  <p><%=  task.details %></p>
  <p><%=  task.completed %></p>

  <!-- <p><%#= link_to "add a new task", tasks_new_path(task)%></p>
 -->
<% end %>

  <p><%= link_to "add a new task", tasks_new_path(@task)%></p>
